<h1>Top画面</h1>

<img src ="/assets/lake.jpg" class = "top_image">

<%= link_to "新規登録", new_user_registration_path , class:"button_while" %>
<%= link_to "ログイン", new_user_session_path %><br>

<%= link_to "新規登録", new_user_registration_path %>
<%= link_to "ログイン", new_user_session_path %>
