<br><br>

<div class = "image_center"><img src ="/assets/fashion_01.png" class = "top_image"></div>

<%= link_to "新規登録", new_user_registration_path , class:"button_while" %>
<%= link_to "ログイン", new_user_session_path %><br>

<%= link_to "新規登録", new_user_registration_path %>
<%= link_to "ログイン", new_user_session_path %>
