<h1>Top画面</h1>

<a href =""></a>

<%= link_to "新規登録", new_user_registration_path , class:"bubbly-button"%>
<%= link_to "ログイン", new_user_session_path %><br>

<%= link_to "新規登録", new_user_registration_path %>
<%= link_to "ログイン", new_user_session_path %>
