<h1>ようこそ <%= @user.name %> 様</h1>
    <hr />
    <p>この度はアカウントを登録頂きましてありがとうございます。</p>
    <p>ユーザー名: <%= @user.name %></p>
    <p>メールアドレス: <%= @user.email %></p>
    <p>TENKUHUKUとともに素敵な毎日をお過ごしください。</p>
    <hr />
