<div class = "center">
<h1 class = "title">TENKIHUKU一覧</h1>
<div class = "container">
  <% @pictures.each do |picture| %>
      <%= link_to image_tag(picture.image.url) ,picture_path(picture.id),class:"item" %><br><br>
  <% end %>
</div>
<br>
<%= link_to 'TENKIHUKUを投稿する', new_picture_path,class:"button_while" %>
</div>
