<h1>TENKIHUKU詳細画面</h1>

<p><%= image_tag @picture.image.url %></p>
<p><%= @picture.content %></p>
<%= link_to '編集', edit_picture_path(@picture.id) %>
<%= link_to '削除', picture_path(@picture.id), method: :delete, data: {confirm: "本当に削除していいですか？"} %>
