// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
  text-align: center;
}

.image_file {
  display: inline-block;
  text-align: center;
  margin: auto;
}

.thumbnail {
    display: inline-block;
    height: 300px;
    weight: 300px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.thumbnail img {
    height: 100%;
    weight: 100%;
}

.white {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
}

.between_weathwe {
  padding-right: 4%;
}

.weather_top {
  padding-top: 25px;
}

.weather_font {
  font-size: 18px;
}

.under {
  background: linear-gradient(transparent 70%, #a8eaff 70%);
  }

  .prefecture_name_size {
    font-size: 30px;
    padding-left: 10px;
  }
